<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">

<h1>Editing rider</h1>

</div>
</div>
<div class="panel-body">


<%= render 'form' %>


</div>

<div class="panel-footer">
<%= link_to 'Show', @rider, class: "btn btn-primary" %>
<%= link_to 'Back', riders_path , class: "btn btn-primary" %>

</div>





