<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
	<%= image_tag "http://rudemedia.org/labus/newstory.png", class: "center" %>
</div>
</div>
<div class="panel-body">


<%= render 'form' %>





</div>


<div class="panel-footer">
<%= link_to 'BACK', riders_path %>
</div>


</div>